body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background:#001821;
  color: #fff;
  line-height: 1.42;
  /* font-size: ; */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  margin: 0;
}

 a {
   color: inherit;
 }
 ul {
   padding: 0px;
   margin: 0px;

 }

 ul li {
   list-style: none;
 }

 h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
  
 }
 p {
   margin-top: 0;
 }
* {
box-sizing: border-box;
}
.main-page-wrapper{
  background: url("./images/bg/hero.jpg") center top no-repeat, url("./images/bg/bottom-pic.jpg") right bottom 307px no-repeat;
}
.about__desc-text p {
  margin-bottom: 20px;
}
.about__desc-text p:last-child {
  margin-bottom: 0;
}
 .content {
   margin: 0 auto;
   width: 1140px;
 }
.header {
  min-height: 94px;

  position: relative;
  margin-bottom: 131px;
}

.logo {
  position: absolute;
  top: 33px;
  left: 4px;
}

.menu {
  position: absolute;
  top: 37px;
  left: 160px;
}

.contacts {
 
  display: flex;
  flex-direction: column;
 margin-top: 12px;
  text-align: right
}

.menu__item {
display: inline-flex;
justify-content: space-between;
vertical-align: middle;
margin-right: 51px;
}
/* .menu__item:last-child {
  margin-right: 0; */
}

.menu__link--activ .menu__link{
color: #F5170E;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
color: #F5170E;
}
.contacts__tel {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: -2px;
}
.contacts__work{
  font-size: 13px;
  text-decoration-line: underline;
}

.preview {
  width: 510px;
    margin-bottom: 246px;
}
.preview__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 34px;

}
.preview__desc {
  font-size: 18px;
 margin-bottom: 33px;
}
.button {
  background: #F5170E;
  border-radius: 35px;
  padding:18px 29px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 168px;
height: 55px;
border: 1px solid transparent;
}
.button:hover {
  background: #fff;
  color: #F5170E;
}

.tours {
  margin-bottom: 143px;
}

.tours__title {
  margin-bottom: 50px;
  
} 

.tours__title-text {
  font-weight: bold;
  font-size: 36px;  
}

.tours__list {
  display: flex;
  align-items: stretch;

}
.tours__item {
width: 362px;
height: 436px;
vertical-align: top;
margin-right: 31px;
border-radius: 5px;
background: #fff;
/* font-size: 14px; */
}
.tours__item:last-child {
  margin-right: 0;
}


.tours__subtitle {
  font-size: 24px;
  font-weight: bold;
 color: black;
 margin-bottom: 16px; 
}

.tours__content {
padding: 13px 14px 26px 24px; 

}

.tours__desc {
  display: flex;
  justify-content: space-between;
 
  margin-bottom: 23px;
}

.tours__desc-block {
font-size: 16px;
  color: #666666;
  display: flex;
  justify-content: space-between;
  margin-right: 42px;
  line-height: 31px;
}
 
.tours__desc-block-img {
  margin-right: 10px;
}
.tours__text {
  font-size: 14px;
color: #303030;
margin-bottom: 28px;

}
.button__min{
  background: #fff;
  border-radius: 35px;
  padding:18px 29px;
  color:  #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  width: 135px;
height: 55px;
border-color: #F5170E;
}

.button__min:hover {
  background: #F5170E;
  color:#fff;
}


.news__title{
 margin-bottom: 47px;
}

.news__list{
  display: flex;
justify-content: space-between;
margin-bottom: 48px;

}
.news__item {

width: 557px;
border-radius: 5px;
vertical-align: top;
position: relative;
margin-right: 21px;

}
.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.news__title-text {
      font-size: 36px;
      font-weight: bold;
}
.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 19px 12px 33px;
  min-height: 157px;
  
}

.news__date {

  font-size: 14px;
  font-weight: normal;
}

.news__subtitle {

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.news__text {
  font-size: 16px;
  font-weight: normal;
}
.paginator {
  text-align: center;
}

.paginator__display,.paginator__list {
  display: inline-flex;
  justify-content: space-between;

}
.paginator__display {
  margin-right: 43px;
font-size: 16px;
width: 125px;

}
.paginator__list{
  margin-left: 3px;
width: 183px;
}


.paginator__item {

  display: flex;
  justify-content: center;

}
.paginator__item--active .paginator__linc {
  background: #FFFFFF;
  color: #F5170E;


}
.paginator__linc {
  width: 32px;
height: 32px;
display: flexbox;
justify-content:space-between;
border-radius: 50%;
text-decoration: none;
font-weight: bold;
font-size: 16px;
line-height: 32px;

}
.about {
  margin-top: 154px;
  margin-bottom: 43px;
}
.about:before {
  display: inline-flex;
 
 
  content: "";
  width: 490px;
  height: 501px;
  background: url("./images/content/offers/gates.png") center center / cover no-repeat; 
}

.about__desc {

  vertical-align: top;
  margin-left: -140px;
  margin-top: 100px;
  padding:  50px 100px; 
  display: inline-block;
  width: 785px;
  height: 455px;
  background: url("./images/content/offers/mountains.png") center center / cover no-repeat;
}

.about__desc-content {
  padding: 70px 100px 65px 61px;
}
 .about__title{
  font-size: 36px;
  font-weight: bold; 
  margin-bottom: 29px;
  color: #060606;

}

  .about__desc-text{
    font-size: 16px;
    color:#060606;
   margin-bottom: 40px;

  }
  .footer-container__content {
    border-top: 1px solid #FFFFfF;
  }

 .footer {
   margin-top: 13px;
   height: 130px;
   position: relative;
 }
.contacts {
  position: absolute;
  top: 16px;
  right: 0;
  font-style: normal;
  text-align: right;

}

.contacts__desc {
  font-size: 11px;
 
}
.socials {
  position: absolute;
  top: 38px;
  right: 259px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
  

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: cover no-repeat;

}

.socials__item--icon--tg .socials__link {
  background-image: url("./images/icons/socials/t.png");
}
.socials__item--icon--tg .socials__link:hover {
  background-image: url("./images/icons/socials/t2.png");
}
.socials__item--icon--vk .socials__link {
  background-image: url("./images/icons/socials/vk.png");
}
.socials__item--icon--vk .socials__link:hover {
  background-image: url("./images/icons/socials/vk-blue.png");
}
.socials__item--icon--fb .socials__link {
  background-image: url("./images/icons/socials/f.png");
}
.socials__item--icon--fb .socials__link:hover {
  background-image: url("./images/icons/socials/f2.png");
}
.socials__item--icon--insta .socials__link {
  background-image: url("./images/icons/socials/in.png");
}
.socials__item--icon--insta .socials__link:hover {
  background-image: url("./images/icons/socials/in2.png");
}
